In [45]:
import pandas as pd
import numpy as np

In [11]:
csv_file = "Resources/purchase_data.csv"
csv_file_df = pd.read_csv(csv_file, encoding="ISO-8859-1")
csv_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [12]:
csv_file_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [24]:
csv_file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [39]:
## * Total Number of Players
unique_players = csv_file_df['SN'].value_counts()
number_players = len(unique_players)

In [40]:
# * Number of Unique Items
unique_items = csv_file_df['Item ID'].value_counts()
number_items = len(unique_items)

In [41]:
# * Average Purchase Price
averages = (csv_file_df.mean(axis=0))
average_price = averages['Price']
average_price

3.050987179487176

In [42]:
# * Total Number of Purchases
purchases = csv_file_df['Item ID'].count()
purchases

780

In [47]:
# * Total Revenue
revenue = np.sum(csv_file_df['Price'])
revenue

2379.77

In [ ]:
# ### Gender Demographics

# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed
gender_counts = csv_file_df["Gender"].value_counts()

total_gender = pd.to_numeric((csv_file_df['Gender']).count())
female_percent = ((gender_counts['Female'])/total_gender)
male_percent = ((gender_counts['Male'])/total_gender)
other_percent = ((gender_counts['Other / Non-Disclosed'])/total_gender)

In [114]:
# ### Purchasing Analysis (Gender)

# * The below each broken by gender
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value


gender_analysis = pd.DataFrame = csv_file_df[["Gender", "SN", "Price","Purchase ID"]]

gender_grouped = gender_analysis.groupby('Gender')

g_purchase = gender_grouped.count()
g_sum = gender_grouped.sum()
g_average = gender_grouped.mean()

In [113]:
#   * Average Purchase Total per Person by Gender
for x in gender_analysis:
    purchase = gender_analysis["Price"].sum()
    
purchase

2379.77

In [ ]:
# ### Age Demographics

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group

In [ ]:
# ### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

In [ ]:
# ### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [2]:
# ### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [ ]:

# As final considerations:

# * You must use the Pandas Library and the Jupyter Notebook.
# * You must submit a link to your Github/Git Lab repo that contains your Jupyter Notebook.
# * You must include a written description of three observable trends based on the data.
# * See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.