In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_file = "Resources/purchase_data.csv"
csv_file_df = pd.read_csv(csv_file, encoding="ISO-8859-1")
csv_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
csv_file_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [4]:
csv_file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [5]:
## * Total Number of Players
unique_players = csv_file_df['SN'].value_counts()
number_players = len(unique_players)
number_players

576

In [6]:
# * Number of Unique Items
unique_items = csv_file_df['Item ID'].value_counts()
number_items = len(unique_items)

In [7]:
# * Average Purchase Price
averages = (csv_file_df.mean(axis=0))
average_price = averages['Price']
average_price

3.050987179487176

In [8]:
# * Total Number of Purchases
purchases = csv_file_df['Item ID'].count()
purchases

780

In [9]:
# * Total Revenue
revenue = np.sum(csv_file_df['Price'])
revenue

2379.77

In [10]:
gender_df = csv_file_df.loc[:,['Gender','SN','Age']]
gender_df = gender_df.drop_duplicates()

In [24]:
# ### Gender Demographics

# * Percentage and Count of Male Players
# * Percentage and Count of Female Players
# * Percentage and Count of Other / Non-Disclosed
gender_counts = gender_df["Gender"].value_counts()

#total_gender = pd.to_numeric((csv_file_df['Gender']).count())
#female_percent = ((gender_counts['Female'])/total_gender)
#male_percent = ((gender_counts['Male'])/total_gender)
#other_percent = ((gender_counts['Other / Non-Disclosed'])/total_gender)
percentage = gender_counts/number_players * 100
#gender_counts
gender_demo_df = pd.DataFrame({"Percentage": percentage, "Total": gender_counts})

gender_demo_df.head()

                       Percentage  Total
Male                    84.027778    484
Female                  14.062500     81
Other / Non-Disclosed    1.909722     11

In [11]:
print(f"{total_gender}, {female_percent}, {male_percent}, {other_percent}")

780, 0.14487179487179488, 0.8358974358974359, 0.019230769230769232

In [71]:
# ### Purchasing Analysis (Gender)

# * The below each broken by gender
#   * Purchase Count - variable names purchases
#   * Average Purchase Price
#   * Total Purchase Value


gender_analysis = csv_file_df[["Gender", "Price","Purchase ID"]]
new_index = gender_analysis.set_index('Gender')

gender_grouped = new_index.groupby('Gender')

g_purchase = gender_grouped.count()['Price']
g_sum = gender_grouped.sum()['Price']
g_average = gender_grouped.mean()['Price']
avg_total = g_sum/gender_counts

gdict = {"Purchase Count": g_purchase,"Average Purchase Price": g_average, "Total Purchase Value": g_sum, "Average Total Purchase per Person": avg_total}

gdict_df= pd.DataFrame(gdict)

gdict_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [132]:
# ### Age Demographics

# * The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value
#   * Average Purchase Total per Person by Age Group


unique_ages = csv_file_df.drop_duplicates(subset='SN')
csv_file_df["Purchase ID"].count()

#find max (45)
max_age=unique_ages["Age"].max()
max_age

# create bins and labels
bins=[0,9,14,19,24,29,34,39,45]

age_label=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

unique_ages["Age Group"] = pd.cut(unique_ages["Age"],bins,labels=age_label)

age_group_df=unique_ages.groupby("Age Group")

<ipython-input-132-2aab1e529c22>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_ages["Age Group"] = pd.cut(unique_ages["Age"],bins,labels=age_label)

In [137]:

purchase_count_age = age_group_df["Price"].count()
ave_price_age = age_group_df["Price"].mean()
total_value_age = age_group_df["Price"].sum()
ave_person_age = (age_group_df["Price"].sum()/age_group_df["Price"].count())

age_demo_dict = {"Purchase Count":purchase_count_age ,
                "Average Purchase Price":ave_price_age,
                "Total Purchase Value":total_value_age,
                "Avg Total Purchase per Person":ave_person_age}
age_demo_df = pd.DataFrame(age_demo_dict)

age_demo_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,17,3.390000,57.63,3.390000
10-14,22,3.074545,67.64,3.074545
15-19,107,3.101682,331.88,3.101682
20-24,258,3.063527,790.39,3.063527
25-29,77,2.908182,223.93,2.908182
30-34,52,2.921538,151.92,2.921538
35-39,31,3.510000,108.81,3.510000
40+,12,3.037500,36.45,3.037500

In [ ]:
# ### Top Spenders

# * Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#   * SN
#   * Purchase Count
#   * Average Purchase Price
#   * Total Purchase Value

In [ ]:
# ### Most Popular Items

# * Identify the 5 most popular items by purchase count, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [2]:
# ### Most Profitable Items

# * Identify the 5 most profitable items by total purchase value, then list (in a table):
#   * Item ID
#   * Item Name
#   * Purchase Count
#   * Item Price
#   * Total Purchase Value

In [ ]:

# As final considerations:

# * You must use the Pandas Library and the Jupyter Notebook.
# * You must submit a link to your Github/Git Lab repo that contains your Jupyter Notebook.
# * You must include a written description of three observable trends based on the data.
# * See [Example Solution](HeroesOfPymoli/HeroesOfPymoli_starter.ipynb) for a reference on expected format.